; .editorconfig
; EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = LF
charset = utf-8

[*.php]
indent_style = space
indent_size = 4
max_line_length = 140
trim_trailing_whitespace = true
insert_final_newline = true
